header{
    #navbar background-color #FFF7F1
}
.nav-link{
    color: black;
}
.navbar-brand{
    color: black;
}
.navbar-brand:hover { color: #E5A490;
}
.nav-link:hover { color: #E5A490;
}
h1 {
    font-family: "Montserrat";
    font-size: 3.orem;
    color: black;
}
body {
    font-family:"Lora"; 
    background-color: #FFF7F1 ; 
}
